/*Utilize a Google font*/
@font-face{
    font-family: 'Poppins';
    src: url(https://fonts.googleapis.com/css2?family=Poppins&display=swap.woff2) format('woff2');
}

/* 1. Identify the header, main, and footer of your page and add a skip to content link. */
body{
    font-family: Georgia, 'Times New Roman';
    background-image: url('../images/marble.jpeg');
}
h1{
    font-size: 30px;
    margin: 12px;
    /* font-family: Georgia, 'Times New Roman'; */
    padding-top: 50px;
}


/* 2. Add the paragraph and link tags */
p {
    font-size: 18px;
    /* font-family: Georgia, 'Times New Roman'; */
    margin: 30px 12px;
    /* max-width: 500px; */
}

/** DONE IN HTML **/

/* 4. Style the links to in your site - make sure to indicate which one is the current page */
nav li{
	background-color: #dadada;
    box-sizing: border-box;
    float: left;
	padding: 10px 0px;
	width: 20%;
	border: 1px solid black;
	display: inline-block;
    text-align: center;
}
#title{
    font-weight: bold;
    font-size: 18px;
    margin: 30px 12px;
}
a:hover{color: red;}

.active{
    font-weight: bold;
    text-transform: uppercase;
}
a[href]{
    margin: 12px;
}

/* 5. Add style to your images focusing on the box model. */

img{
    margin: 12px;
    width: 300px;
    padding: 10px;
    border: 4px solid black;
}

/* 6. Add a hover style to your images */ 

img:hover{
   filter: grayscale();
   /* border: dashed; */
}
footer{
    background-color: #dadada;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
}
/*Added this so the links stay the same color*/
nav a:visited{color: black;}
nav a:link{color:black;}

/*Contact Me page formatting*/
fieldset{
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
}

label{
    display: inline-block;
    width: 140px;
    text-align: left;
}
fieldset legend{
    font-weight: bold;
    font-size: 25px;
    padding: 20px 0 20px 0;
}

div{
    margin-bottom: 10px;
}

#remember_id{
    /* align-items: left; */
    margin-bottom: 10px;
    width: 140px;

}

/*animate one of the images*/
#grow{
    animation-name: growimage;
    animation-duration: 5s;
}
@keyframes growimage {
    from {width: 25px; opacity:0;}
    to {width: 300px;opacity:1;}
    
}
@media (prefers-reduced-motion: reduce){
    #grow{
        animation: none;
    }
}
/*Add grid to EDM page*/
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(9,1fr);
    overflow: scroll;
    /* row-gap: 2px; */
}
.all, .first, .good, .lights, .nightlight, .potions, .salvation, .take, .just{
    grid-column: 1;
}
.all-image, .first-image, .good-image, .lights-image, .nightlight-image, .potions-image, .salvation-image, .take-image, .just-image{
    grid-column: 2;
}
.all-desc, .first-desc, .good-desc, .lights-desc, .nightlight-desc, .potions-desc, .salvation-desc, .take-desc, .just-desc{
    grid-column: 3;
}
/*Add flex to Chill page*/
.flex{
    display: flex;
    overflow: scroll;
}
.card{
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 450px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        overflow: scroll;
    }
    .container img{
      max-width: 100px;
      max-width: 100px;
    }
  
}
